<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Afiliarse</title>

    </head>
    <body>
        <section th:fragment="forms">
        <div class="afiliarse">
            <div class="cuadro">
                <div class="txtgrande">Los mejores descuentos y promociones al unirte</div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputEmail" placeholder="nombre@ejemplo.com">
                        <label for="floatingInputEmail">Correo electrónico</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputName" placeholder="Nombre Completo">
                        <label for="floatingInputName">Nombre completo</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputDate" placeholder="Fecha de Nacimiento">
                        <label for="floatingInputName">Fecha de Nacimiento</label>
                </div>

                <div class="form-check-container">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Acepto los términos y condiciones de nuestra política.

                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-danger custom-btn">Enviar</button>
                </div>
            </div>
        </div>
        </section>
    </body>

</html>