.Title {
    font-family: 'Jomhuria';
    font-size: 4.5em;
    color: #ff6666;
    margin: 0;
    padding: 0;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: yellow;
}
.nav-style{
    font-family: 'Jomhuria';
    font-size: 2em;
}

