body {
    background-image: url("https://img.freepik.com/fotos-premium/mesa-llena-comida-china-incluidos-dumplings-otros-alimentos_920594-30751.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Jomhuria', sans-serif;
}

.container {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.form-group label {
    color: white;
    width: auto;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

.form-group p {
    color: white;
    margin-top: 5px;
}

.form-check-label {
    color: white;
}

.btn-custom {
    background-color: #ff6666;
    border: none;
    height: 35px;
    padding: 1px 20px;
    font-size: 1.5em;
}